@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.bg-image {
    background-image: url('https://i.ibb.co/yBxNyt5/bg.jpg');
}

.box {
    background-image: url('https://i.ibb.co/yBxNyt5/bg.jpg');
    background-size: cover;
}
